footer
  .container
    .box1
      h2 Online Restaurant
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
        | fugiat, sapiente aspernatur, inventore temporibus pariatur voluptas.
      ul.links
        li
          a(href='#')
            i.fab.fa-facebook-f.facebook
        li
          a(href='#')
            i.fab.fa-youtube.youtube
        li
          a(href='#')
            i.fab.fa-twitter.twitter
        li
          a(href='#')
            i.fab.fa-instagram
        li
          a(href='#')
            i.fab.fa-whatsapp
    .box2
      .list
        h3 Services
        ul
          li
              a(href='#') index
          li
            a(href='/menu') Menu
          li
            a(href='#popular') Popular
          li
            a(href='#about') About Us
          li
            a(href='#contact') Contact Us
      .list
        h3 Services
        ul
          li
            a(href='#') Admin Area