header
  .container
    a(href='/')
      img(src='/img/logo.png' alt='')
    nav
      i.fas.fa-bars.toggle-menu
      ul
        li
          a.aHead(href='/menu') Menu
        li
          a.aHead(href='/#popular') Popular
        li
          a.aHead(href='/#about') About Us
        li
          a.aHead(href='/#contact') Contact Us
        if user
          li
            a.aHead(href='/admin') Admin
          li
            a.aHead.logout Logout
        else
          li
            a(href='/login') Admin area
        //- li
        //-   a.cart
        //-     i.fas.fa-shopping-cart.shopping
        //-     span.counter 3
      a.cart
          i.fas.fa-shopping-cart.shopping
          span.counter 3
  //.popupCart
  include _popupCart.pug