.popupAdd.pop
  a.close() &times;
  .img
    img.imgpopupAdd(src='img/meals/meal-pizza-al-salam-1692121614339-1.jpeg' alt='')
  .text.textpopupAdd
    h4.hpopupAdd Tacos dz
    p.ppopupAdd
      | This a pizza el salam it&apos;s really delicious pizza el salam it&apos;s really
      | delicious consectetur adipisicing elit. Esse
    label(for='quantity') Quantity
    input#quantity(type='number' name='quantity' min='1' max='50' value='1')
    button.addtobtn