doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/css/normalize.css' rel='stylesheet')
  link(href='/css/all.min.css' rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css' rel='stylesheet')
  link(href='/css/style.css' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400;500;700&family=Shadows+Into+Light&family=Ubuntu:wght@300;400;700&display=swap' rel='stylesheet')
  title Admin| #{title}
body 
  //header
  include _header

  //Content
  .adminPanel
    .list
      h3 Admin Panel
      ul
        li
          a#profileHref(href='/admin') Profle
        li
          a#profileHref(href='/admin/pending') Pending Orders
          span#pendingNoti.counterNotification 3
        li
          a#profileHref(href='/admin/executed') Executed Orders
        if user.role == 'admin'
          li
            a(href='/admin/menu') Menu Managment
          li
            a#profileHref(href='/admin/moderators') Moderators Management
        li
          a#profileHref(href='/admin/messages') Messages
          span#messagesNoti.counterNotification 3
        li
          a#profileHref(href='/admin/statis') Statistics about Profits
    .details
      block details

  .filter


  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
  script(src='https://js.stripe.com/v3/')
  //- script(src='/js/mapbox.js')
  //- script(type="module" src='/js/index.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js')
  script(src='https://cdn.jsdelivr.net/npm/chart.js')
  //- script(src='https://cdn.socket.io/4.5.0/socket.io.min.js' integrity='sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k' crossorigin='anonymous')
  script(type='module' src='/js/bundle.js')
