extends base

block content
  .login.f-r-password
    .container
      form.frpasswordForm
        h4 Forgot your password
        input(id='email_for_forgot' type='email' placeholder='Enter you email' name='email')
        button Send reset link
