extends base

block content 
  .login
    .container
      form.loginForm
        h4 Log In
        input(id='username' type='text' placeholder='Username' name='username')
        input(id='password' type='password' placeholder='Password' name='password')
        button Log In
        a(href='/forgotPassword') Forgot your password?

  .filter
  include _checkout



