doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/css/normalize.css' rel='stylesheet')
  link(href='/css/all.min.css' rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css' rel='stylesheet')
  link(href='/css/style.css' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400;500;700&family=Shadows+Into+Light&family=Ubuntu:wght@300;400;700&display=swap' rel='stylesheet')
  title #{title}
body 


  //Content 
  .login.f-r-password
    .container
      form.resetForm
        h4 Reset your password
        input#passwordNew(type='password' placeholder='new password' name='password')
        input#passwordConfirm(type='password' placeholder='Confirm new password' name='passwordConfirm')
        button#resetBtn(data-t=`${resetToken}`) Save the changes


  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
  script(src='https://js.stripe.com/v3/')
  //- script(src='/js/mapbox.js')
  //- script(type="module" src='/js/index.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js')
  script(type='module' src='/js/index.js')
