extends baseAdmin

block details 
  div#statisDiv
    canvas#myChart

  .statisBtns 
    button#latestMonthByOrderBtn.chartBtn Latest Month Based On Ordered meals
    button#latestMonthByPriceBtn.chartBtn Latest Month Based On Profits meals
    button#allProfits.chartBtn Profits of each month

    select.month-select






